@import url("./fonts.css");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Circular Title Bold", sans-serif;
}

a, p, li, ul, span {
  font-family: "Circular Bold";
}

html, body {
  margin: 0;
  padding: 0;
}

.bg-custom {
  background-color: #181818;
}

.bg-daily {
  background-color: #267DDF;
}


.break-text{
  font-size: 3rem;
  width: 900px;
  width: -moz-min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
  line-height: 1.6;
}

@media (max-height: 745.6px) {
  .dynamic-height {
      height: 100;
  }
}
